.form {
    background: $grey;
    margin-bottom: $layout-margin_bottom;
    text-align: center;
    padding-bottom: 30px;
    .form-input {
        color: grey;
        background: $grey-dark;
        height: 35px;
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        &__search{
            color: grey;
            font-weight: bold;
            background: $grey-dark;
            appearance: none;
            border: none;
            margin-left: 15px;
            padding-left: 10px;
        }
    }
    .form-title {
        margin-top: 20px;
        &__h1{
            width: 80%;
            margin: 0 auto;
            font-weight: normal;
            line-height: 1;
        }
        &__p{
            width: 300px;
            margin: 10px auto 0;
        }
    }
    .form-button{
        margin-top: 30px;
        &__btn {
            border: none;
            border-radius: 20px;
            width: 180px;
            height: 40px;
            padding: 5px;
            color: white;
            background: linear-gradient(to top left,$color-primary,35%,$color-secondary);
            @include shadow(1,1,5);
        }
    }

}

