.header {
    padding:$padding-TB;
    display: flex;
    flex-direction: row;
    &__link {
        width: 18%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        &--home {
            display:none;
        }
        &--page {
            display: block;
            color:colorGrey(50);
        }
    }
    &__logo {
        width: 60%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

}