.header {
    padding:$padding-TB;
    display: flex;
    flex-direction: row;
    &__link {
        width: 20%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        &--home {
            display:none;
        }
        &--page {
            display: block;
            color:colorGrey(50);
        }
    }
    &__logo {
        width: 80%;
        display:flex;

        align-items: center;
        padding-left: 30px;
        @include tablet-only {
            width: 70%;
            padding-left: 55px;
        }
        @include desktop-only {
           max-width: 50%;
           padding-left: 50px;
           justify-content: center;
        }
    }

}