.tutorial {
    margin-bottom: $layout-margin_bottom;
    @include tablet-only {
        @include tablet;
    }
    .tutorial-title{
        @include title;
        @include tablet-only{
            text-align: center;
            width: 50%;
            margin:20px auto;
            background-color: colorGrey(95);
            border-radius: 16px;
            @include shadow(3,3,5);
         }
    }
    .tutorial-div{
        @include tutorial;
        padding: 5px;
        @include tablet-only {
            width: 70%;
            justify-content: center;
        }
        @include desktop-only {
            flex-direction: row-reverse;
            justify-content: center;
            width: 40%;
        }
        & i{
            text-align: end;
            margin-left: $contain-margin + 10;
            @include tablet-only{
                margin-left: 0px;
            }
        }
        &__text{
            text-align: start;
            font-weight: 400;
            margin-left: $contain-margin;
            @include tablet-only{
                 margin-left: 25px;
             }
        }
        &--1 > p{
            margin-left: $contain-margin + 5;
            @include tablet-only{
                 margin-left: 35px;
             }
        }
        &--1 > i {
            @include tablet-only{
                 padding-left: 10px;
             }
        }
        &--2 > i {
            @include tablet-only{
                 padding-right: 5px;
             }
        }
    }
}
