.logo {
    width: 13em;
    @include desktop-only{
        width: 18em;
    } 
    &--footer {
        width: 8em;
        filter: invert(100%);
        @include footer-only{
            width: 10em;
         }
    }
}