/*
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    scrollbar-width: thin;
    @include bool($loader:false);
    animation: test 4s;

}

a {
    text-decoration: none;
}

.loader {
    border:10px solid #99E2D0;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    visibility: hidden;
    z-index: 100;
    animation: hide 4s both , spin 2s linear infinite;

}


@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes hide {
    0% {
        transform: scale(0);
        visibility:visible;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes test {
    0%{
        @include bool($loader:false);
    }
    1%{
        @include bool($loader:true);
    }
    100% {
        @include bool($loader:true);

    }
}
