@mixin tutorial {
    width: 85%;
    height: 3.5rem;
    margin: 10px auto 0;
    border-radius: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
    background: $grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:hover :not(.tutorial-div__text) {
        color: $color-primary;
    }
    &:hover{
        background-color: $color-primary-light;
    }
    &::before {
        content:"";
        position: absolute;
        left: -3%;
        height: 18px;
        width: 18px;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
        text-align:center;
        padding: 2px 2px 0px;
        font-size: small;
    }
    @each $number in $numbers {
    &::before {
        content:"#{$number}";
        color: red;
            }
    }
}

// @for $i from 1 through 3 {
//     &.tutorial-div--#{$i} ::before {
//         content:"#{$i}";
//         position: absolute;
//         left: -3%;
//         height: 18px;
//         width: 18px;
//         background-color: $color-primary;
//         color: white;
//         border-radius: 50%;
//         text-align:center;
//         padding: 2px 2px 0px;
//         font-size: small;
//     }
//     }